@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

.body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background: #EDF2F7;
  min-height: 100vh;
}

.header {
  z-index: 2;
  height: 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  min-width: 1030px;
  align-items: end;
}

.header__link {
  margin: 21px 0 0 125px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
}

.header__icon-img {
  width: 100%;
  height: 100%;
}

.header__app {
  margin: 0 0 0 21px;
  font-size: 48px;
  line-height: 56px;
  font-weight: normal;
}

.header__user {
  margin: 17px 0 0 0;
  padding: 0;
  flex-direction: column;
}

.header__button {
  display: flex;
  padding: 0;
  margin: 0 125px 0 0;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #131B23;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__user-img {
  width: 59px;
  height: 59px;
  margin: 0 0 0 15px;
}

.header__menu {
  margin: 5px 0 0 -25px;
  padding: 0;
}

.rhombus {
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-left: none;
  border-bottom: none;
  transform: rotate(-45deg);
  display: block;
  margin: 0 0 -8px 90px;
}

.rectangle {
  display: flex;
  width: 130px;
  min-height: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px #D5D9DE;
  border-radius: 4px;
  align-items: baseline;
  flex-direction: column;
  height: fit-content;
  justify-content: left;
}

.sign-out {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4B9AE8;
  margin: 15px;
  cursor: pointer;
}

.main {
  z-index: 1;
  margin: 0 auto;
  min-height: calc(100vh - 214px);
  flex: 1 0 auto;
}

.main__content {
  margin: 76px 0 101px 0;
  width: 610px;
  height: 415px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main__content-invite {
  height: 337px;
}

.main__span {
  justify-content: center;
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
  margin: 55px auto 0 auto;
}

.main__head {
  margin: 14px auto 10px auto;
  color: #808284;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.main__label {
  margin: 10px auto 0 auto;
  width: 400px;
  color: #808284;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.label__input {
  margin-top: 9px;
  width: calc(400px - 36px);
  color: #808284;
  border: 1px solid #D5D9DE;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 18px 13px 18px;
}

.main__button {
  background-color: #4B9AE8;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  height: 39px;
  margin: 36px auto 0 auto;
  width: 400px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.main__button:hover {
  background-color: #418CD6;
}

.main__button:active {
  background-color: #3069A1;
}

.main__room-name {
  margin: 0 0 31px 0;
  padding: 54px 0 0 40px;
  font-size: 26px;
  line-height: 30px;
  color: #131B23;
  font-weight: normal;
}

.main__room-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 40px;
}

.main__deck {
  max-width: 720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -6px 23px 0 -6px;
  height: fit-content;
}

.main__card {
  position: absolute;
  opacity: 0;
  z-index: -1;
  padding: 0;
  width: 132px;
  margin: 6px;
  height: 174px;
}

.main__card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  line-height: 54px;
  font-weight: normal;
  width: 132px;
  height: 174px;
  background-color: #ffffff;
  margin: 6px;
  border-radius: 4px;
  border: none;
  padding: 0;
  fill: black;
  stroke: none;
  cursor: pointer;
  outline: black;
}

.main__card-svg {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
}

.main__card-content:hover {
  box-shadow: 0 0 6px 3px rgba(1, 1, 1, 0.25);
}

.main__card:checked + .main__card-content {
  background: #4B9AE8;
  box-shadow: 0 0 6px 1px rgba(1, 1, 1, 0.05);
  color: white;
  fill: white;
}

.main__results {
  width: 715px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.briefly-info {
  min-height: 433px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.average {
  margin: auto 0 auto 89px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('html/images/ellipse.svg');
  width: 310px;
  height: 310px;
}

.average__count-players {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.average__voted {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #808284;
  margin: 4px 0;
}

.average__avg {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  white-space: nowrap;
}

.briefly-info__ul {
  margin: 46px 0 0 126px;
  padding: 0;
  list-style-type: none;
}

.briefly-info__li {
  padding: 0;
  margin: 0 0 38px 0;
}

.ul__count-box {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  align-items: center;
}

.ul__round {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.yellow {
  background-color: #F8E71D;
}

.blue {
  background-color: #225378;
}

.ul__count {
  margin: 0 0 0 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.ul__percents {
  margin: 16px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.completed {
  margin-top: 52px;
  background: #ffffff
}

.completed__header {
  background: #4B9AE8;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.completed__header-div {
  display: flex;
  flex-direction: row;
  padding-left: 21px;
  align-items: center;
}

.completed__h3 {
  color: #ffffff;
  white-space: nowrap;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.completed__count {
  display: flex;
  border-radius: 10px;
  background-color: #C9CFD6;
  width: 25px;
  height: 20px;
  margin: 0 0 0 13px;
  padding: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: white;
  align-items: center;
  justify-content: center;
}

.completed__download-img {
  width: 14px;
  height: 17px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.completed__download {
  width: 14px;
  height: 17px;
  padding: 0;
  margin: 0 21px 0 0;
  background-color: transparent;
  border: none;
}

.completed__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.completed__tr {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #F2F3F4;
}

.story__name {
  padding: 0 0 0 21px;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.story__a {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  cursor: pointer;
}

.story__count {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 150px;
}

.story__td-delete {
  width: 34px;
  height: 67px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F2F3F4;
}

.story__delete {
  width: 14px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.story__img {
  width: 14px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 295px;
  background: #ffffff;
  align-items: center;
  height: fit-content;
}

.menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4B9AE8;
  height: 60px;
  width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
}

.menu__ul-name {
  margin: 16px 0 23px 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.menu__li {
  display: flex;
  flex-direction: row;
  height: 67px;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #F2F3F4;
  border-top: 1px solid #F2F3F4;
  align-items: center;
  justify-content: space-between;
}

.menu__ul {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__user-icon {
  height: 42px;
  width: 42px;
  margin: 0 16px 0 24px;
}

.menu__user-name {
  font-size: 18px;
  line-height: 21px;
}

.menu__user-checked {
  height: 20px;
  width: 20px;
  margin-right: 23px;
}

.menu__button {
  background: transparent;
  margin: 45px 0 0 0;
  padding: 0;
  width: 252px;
  height: 39px;
  text-align: center;
  color: #4B9AE8;
  border: 1px solid #4B9AE8;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  cursor: pointer;
}

.menu__button:hover {
  color: #418CD6;
  border-color: #418CD6;
}

.menu__button:active {
  color: #3069A1;
  border-color: #3069A1;
}

.menu__enter-story {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 45px 0 0 0;
  width: 252px;
  height: 39px;
}

.enter-story__input {
  height: 100%;
  width: 184px;
  border: 1px solid #D5D9DE;
  border-radius: 4px 0 0 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #131B23;
  padding: 0 0 0 14px;
}

.enter-story__button {
  background: #4B9AE8;
  color: #ffffff;
  width: 68px;
  height: calc(100% + 2px);
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.enter-story__button:hover {
  background: #418CD6;
}

.enter-story__button:active {
  background: #3069A1;
}

.menu__span {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  padding: 0;
  width: calc(100% - 22px);
  margin: 42px 0 0 20px;
}

.menu__link {
  margin: 10px 0 28px 0;
  height: 37px;
  width: 250px;
  text-align: center;
  border: 1px solid #D5D9DE;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  font-weight: normal;
}

.footer {
  z-index: 1;
  background: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  color: #808284;
  margin-top: 43px;
  flex-shrink: 0;
  font-weight: normal;
}

.footer__a {
  text-decoration: none;
  color: #4B9AE8;
}

.middle-opacity {
  background: #C4C4C4;
  opacity: 0.5;
}

.modal {
  z-index: 3;
  position: absolute;
  width: 715px;
  min-height: 433px;
  background: #ffffff;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.modal__header {
  display: flex;
  background: #4B9AE8;
  height: 60px;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  justify-content: center;
}

.modal__h3 {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 0 24px;
  align-items: center;
  height: 72px;
}

.modal__ul {
  padding: 0;
  margin: 0;
}

.modal__li {
  display: flex;
  margin: 0;
  flex-direction: row;
  height: 67px;
  align-items: center;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
  justify-content: space-between;
}

.modal__user {
  align-items: center;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}

.modal__img {
  width: 42px;
  height: 42px;
  padding: 0;
}

.modal__name {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 16px;
}

.modal__number {
  margin: 0 26px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #4B9AE8;
}

.modal__button {
  background: white;
  width: 252px;
  height: 40px;
  margin: 108px 0 20px 436px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4B9AE8;
  text-align: center;
  border: 1px solid #4B9AE8;
  border-radius: 4px;
  cursor: pointer;
}

.modal__button:hover {
  color: #418CD6;
  border-color: #418CD6;
}

.modal__button:active {
  color: #3069A1;
  border-color: #3069A1;
}
