@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;

  background: #edf2f7;
}

.header {
  z-index: 2;

  justify-content: center;
  height: 93px;

  background-color: white;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  min-width: max-content;
  max-width: 1030px;
  height: inherit;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  margin: 21px 0 0 0;

  text-decoration: none;
}

.logo__icon {
  width: 100%;
  height: 100%;
}

.logo__name {
  margin: 0 0 0 21px;

  font-weight: normal;
  font-size: 48px;
}

.user {
  flex-direction: column;
  margin: 17px 0 0 0;
  padding: 0;
}

.user__button {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;

  color: #131b23;
  font-weight: normal;
  font-size: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user__name {
  max-width: 200px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.user__image {
  width: 59px;
  height: 59px;
  margin: 0 0 0 15px;
}

.user__menu-wrapper {
  width: fit-content;
  margin: 5px -3px 0 auto;
  padding: 0;
}

.rhombus {
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 0 -8px 90px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-bottom: none;
  border-left: none;
  transform: rotate(-45deg);
}

.user__menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  width: 130px;
  height: fit-content;
  min-height: 40px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 3px #d5d9de;
}

.sign-out {
  margin: 15px;

  color: #4b9ae8;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;

  cursor: pointer;
}

.main {
  z-index: 1;

  flex: 1 0 auto;
  min-height: calc(100vh - 214px);
  margin: 0 auto;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 610px;
  height: 415px;
  margin: 76px 0 101px 0;

  background-color: white;
}

.invite {
  height: 337px;
}

.main__tagline {
  justify-content: center;
  margin: 55px auto 0 auto;

  font-weight: normal;
  font-size: 30px;
}

.main__title {
  margin: 14px auto 10px auto;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
}

.main__label {
  width: 400px;
  margin: 10px auto 0 auto;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
}

.main__input {
  width: calc(400px - 36px);
  margin-top: 9px;
  padding: 10px 18px 13px 18px;

  color: #808284;
  font-weight: normal;
  font-size: 14px;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.main__button {
  width: 400px;
  height: 39px;
  margin: 36px auto 0 auto;

  color: white;
  font-size: 14px;
  text-align: center;

  background-color: #4b9ae8;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main__button:hover {
  background-color: #418cd6;
}

.main__button:active {
  background-color: #3069a1;
}

.room-name {
  max-width: 700px;
  margin: 0 0 31px 0;
  padding: 54px 0 0 0;
  overflow: hidden;

  color: #131b23;
  font-weight: normal;
  font-size: 26px;
  text-overflow: ellipsis;
}

.room-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
  height: fit-content;
  margin: -6px 23px 0 -6px;
}

.card__input {
  position: absolute;
  z-index: -1;

  width: 132px;
  height: 174px;
  margin: 6px;
  padding: 0;

  opacity: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 174px;
  margin: 6px;
  padding: 0;

  font-weight: normal;
  font-size: 46px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  outline: black;
  cursor: pointer;

  fill: black;
  stroke: none;
}

.card__coffee {
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
}

.card__content:hover {
  box-shadow: 0 0 6px 3px rgba(1, 1, 1, 0.25);
}

.card__input:checked + .card__content {
  color: white;

  background: #4b9ae8;
  box-shadow: 0 0 6px 1px rgba(1, 1, 1, 0.05);

  fill: white;
}

.results {
  display: flex;
  flex-direction: column;
  max-width: 715px;
  margin-right: 20px;
}

.briefly-results__wrapper {
  width: 100%;
  min-height: 433px;

  background-color: #ffffff;
}

.briefly-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: max-content;
  max-width: 525px;
  margin: 0 auto;
}

.average-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 310px;
  padding: 0;

  background-image: url("html/images/ellipse.svg");
}

.average-values__count-players {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 26px;
  white-space: nowrap;
}

.average-values__word-voted {
  margin: 4px 0;

  color: #808284;
  font-weight: normal;
  font-size: 14px;
}

.average-values__avg {
  margin: 0;

  font-weight: normal;
  font-size: 26px;
  white-space: nowrap;
}

.vote__wrapper {
  margin: 46px 0 0 0;
  padding: 0;

  list-style-type: none;
}

.vote {
  margin: 0 0 38px 0;
  padding: 0;
}

.vote__info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 0;
}

.vote__round {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}

.yellow {
  background-color: #f8e71d;
}

.blue {
  background-color: #225378;
}

.vote__count {
  margin: 0 0 0 10px;

  font-weight: normal;
  font-size: 20px;
}

.vote__percents {
  margin: 16px 0 0 0;

  font-weight: normal;
  font-size: 14px;
}

.history {
  margin-top: 52px;

  background: #ffffff;
}

.history__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 61px;

  background: #4b9ae8;
}

.history__header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 21px;
}

.history__title {
  padding: 0;

  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  white-space: nowrap;
}

.history__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
  margin: 0 0 0 13px;
  padding: 0;

  color: white;
  font-weight: normal;
  font-size: 10px;

  background-color: #c9cfd6;
  border-radius: 10px;
}

.history__download {
  width: 14px;
  height: 17px;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

.history__button {
  width: 14px;
  height: 17px;
  margin: 0 21px 0 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.stories {
  width: 100%;

  table-layout: fixed;
  border-collapse: collapse;
}

.story {
  width: 100%;
  height: 67px;

  border-bottom: 1px solid #f2f3f4;
}

.story__name {
  padding: 0 0 0 21px;

  font-weight: normal;
  font-size: 18px;
  text-align: left;
}

.story__link {
  max-width: 500px;
  overflow: hidden;

  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  text-overflow: ellipsis;

  cursor: pointer;
}

.story__count {
  width: 150px;
  max-width: 100px;
  overflow: hidden;

  font-weight: normal;
  font-size: 18px;
  text-align: left;
  text-overflow: ellipsis;
}

.story__delete-cell {
  width: 34px;
  height: 67px;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #f2f3f4;
}

.story__delete-wrapper {
  width: 14px;
  height: 18px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.story__delete {
  width: 14px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 295px;
  height: fit-content;

  background: #ffffff;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;

  color: #ffffff;
  font-weight: normal;
  font-size: 18px;

  background: #4b9ae8;
}

.menu__title {
  width: calc(100% - 48px);

  font-weight: normal;
  font-size: 18px;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 67px;

  background: transparent;
  border-top: 1px solid #f2f3f4;
  border-bottom: 1px solid #f2f3f4;
}

.players {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.player__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player__icon {
  width: 42px;
  height: 42px;
  margin: 0 16px 0 24px;
}

.player__name {
  max-width: 150px;
  overflow: hidden;

  font-size: 18px;
  text-overflow: ellipsis;
}

.checked {
  width: 20px;
  height: 20px;
  margin-right: 23px;
}

.menu__button {
  width: 252px;
  height: 39px;
  margin: 45px 0 0 0;
  padding: 0;

  color: #4b9ae8;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  background: transparent;
  border: 1px solid #4b9ae8;
  border-radius: 4px;
  cursor: pointer;
}

.menu__button:hover {
  color: #418cd6;

  border-color: #418cd6;
}

.menu__button:active {
  color: #3069a1;

  border-color: #3069a1;
}

.enter-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 39px;
  margin: 45px 0 0 0;
}

.enter-story__input {
  width: 184px;
  height: 100%;
  padding: 0 0 0 14px;

  color: #131b23;
  font-weight: normal;
  font-size: 14px;

  border: 1px solid #d5d9de;
  border-radius: 4px 0 0 4px;
}

.enter-story__button {
  width: 68px;
  height: calc(100% + 2px);
  padding: 0;

  color: #ffffff;

  background: #4b9ae8;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.enter-story__button:hover {
  background: #418cd6;
}

.enter-story__button:active {
  background: #3069a1;
}

.menu__link-name {
  width: calc(100% - 22px);
  margin: 42px 0 0 20px;
  padding: 0;

  font-weight: normal;
  font-size: 20px;
}

.menu__link {
  width: 250px;
  height: 37px;
  margin: 10px 0 28px 0;

  font-weight: normal;
  font-size: 14px;
  text-align: center;

  border: 1px solid #d5d9de;
  border-radius: 4px;
}

.footer {
  z-index: 1;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: 43px;

  color: #808284;
  font-weight: normal;
  font-size: 12px;

  background: white;
}

.footer__link {
  color: #4b9ae8;
  text-decoration: none;
}

.middle-opacity {
  background: #c4c4c4;
  opacity: 0.5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: flex;
  flex-direction: column;
  width: 715px;
  min-height: 433px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  color: white;
  font-weight: normal;
  font-size: 18px;

  background: #4b9ae8;
}

.modal__title {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 0 0 0 24px;

  font-weight: normal;
  font-size: 18px;
}

.modal__users {
  margin: 0;
  padding: 0;
}

.modal__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  margin: 0;

  border: 1px solid #e5e5e5;
  border-right: none;
  border-left: none;
}

.modal__user-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.modal__user-image {
  width: 42px;
  height: 42px;
  padding: 0;
}

.modal__user-name {
  margin-left: 16px;

  font-weight: normal;
  font-size: 18px;
}

.modal__user-number {
  margin: 0 26px 0 0;

  color: #4b9ae8;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.modal__button {
  width: 252px;
  height: 40px;
  margin: 108px 0 20px 436px;

  color: #4b9ae8;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  background: white;
  border: 1px solid #4b9ae8;
  border-radius: 4px;
  cursor: pointer;
}

.modal__button:hover {
  color: #418cd6;

  border-color: #418cd6;
}

.modal__button:active {
  color: #3069a1;

  border-color: #3069a1;
}
