@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

.body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background: #EDF2F7;
}

.header {
  height: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
}

.header__link {
  margin: 0 0 0 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__icon-a {
  text-decoration: none;
  width: 59px;
  height: 59px;
}

.header__icon-img {
  width: 100%;
  height: 100%;
}

.header__app {
  margin: 0 0 0 21px;
  font-size: 48px;
  line-height: 56px;
  font-weight: normal;
}

.header__app-a {
  text-decoration: none;
}

.header__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 125px 0 0;
}

.header__user-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #131B23
}

.header__user-button {
  border: none;
  outline: none;
  width: 60px;
  height: 59px;
  margin: 0 0 0 15px;
  background-color: transparent;
}

.header__user-img {
  width: 59px;
  height: 59px;
  margin: 0 0 0 -5px;
}

.main {
  margin: 0 auto;
  min-height: calc(100vh - 214px);
  flex: 1 0 auto;
}

.main__content {
  margin: 76px 0 101px 0;
  width: 610px;
  height: 415px;
  background: white;
  display: flex;
  flex-direction: column;
}

.main__content-invite {
  height: 337px;
}

.main__span {
  justify-content: center;
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
  margin: 55px auto 0 auto;
}

.main__head {
  margin: 14px auto 10px auto;
  color: #808284;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.main__label {
  margin: 10px auto 0 auto;
  width: 400px;
  color: #808284;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.label__input {
  margin-top: 9px;
  width: calc(400px - 36px);
  color: #808284;
  border: 1px solid #D5D9DE;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 18px 13px 18px;
  outline: none;
}

.main__button {
  background-color: #4B9AE8;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  height: 39px;
  margin: 36px auto 0 auto;
  width: 400px;
  border-radius: 4px;
  color: white;
  border: none;
  outline: none;
}

.main__button:hover {
  background-color: #418CD6;
}

.main__button:active {
  background-color: #3069A1;
}

.main__room-name {
  margin: 0 0 31px 0;
  padding: 54px 0 0 0;
  font-size: 26px;
  line-height: 30px;
  color: #131B23;
  text-align: center;
  font-weight: normal;
}

.main__room-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main__deck {
  max-width: 720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -6px 23px 0 -6px;
}

.main__card {
  position: absolute;
  visibility: hidden;
  padding: 0;
  width: 132px;
  margin: 6px;
  height: 174px;
}

.main__card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  line-height: 54px;
  font-weight: normal;
  width: 132px;
  height: 174px;
  background: #ffffff;
  margin: 6px;
  border-radius: 4px;
  border: none;
  padding: 0;
  fill: black;
  stroke: none;
}

.main__card-svg {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
}

.main__card-content:hover {
  box-shadow: 0 0 6px 3px rgba(1, 1, 1, 0.25);
}

.main__card:checked + .main__card-content {
  background: #4B9AE8;
  box-shadow: 0 0 6px 1px rgba(1, 1, 1, 0.05);
  color: white;
  fill: white;
}

.main__results {
  width: 715px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.briefly-info {
  height: 433px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
}

.average {
  margin: 0 0 0 188px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.average__count-players {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.average__voted {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #808284;
  margin: 4px 0;
}

.average__avg {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  white-space: nowrap;
}

.circle {
  position: absolute;
  width: 310px;
  height: 310px;
  margin: 62px 0 0 89px;
}

.briefly__scroll {
  margin: 46px 0 0 231px;
  padding: 0;
  width: 190px;
  height: calc(100% - 88px);
  overflow-x: auto;
}

.briefly__scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.briefly__scroll::-webkit-scrollbar-thumb {
  background-color: #4B9AE8;
  border-radius: 10px;
}

.briefly__scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.briefly-info__ul {
  margin: -46px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.briefly-info__li {
  padding: 0;
}

.ul__count-box {
  display: flex;
  flex-direction: row;
  margin: 44px 0 0 0;
  align-items: center;
}

.ul__round {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.yellow {
  background-color: #F8E71D;
}

.blue {
  background-color: #225378;
}

.ul__count {
  margin: 0 0 0 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.ul__percents {
  margin: 16px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.completed {
  margin-top: 52px;
  height: 261px;
  background: #ffffff
}

.completed__header {
  background: #4B9AE8;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.completed__header-div {
  display: flex;
  flex-direction: row;
  padding-left: 21px;
  align-items: center;
}

.completed__h3 {
  color: #ffffff;
  white-space: nowrap;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.completed__count {
  display: flex;
  border-radius: 10px;
  background-color: #C9CFD6;
  width: 25px;
  height: 20px;
  margin: 0 0 0 13px;
  padding: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: white;
  align-items: center;
  justify-content: center;
}

.completed__download-img {
  width: 14px;
  height: 17px;
  padding: 0;
  margin: 0;
}

.completed__download {
  width: 14px;
  height: 17px;
  padding: 0;
  margin: 0 21px 0 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.completed__scroll-table {
  width: 100%;
  overflow-x: auto;
  height: 201px;
}

.completed__scroll-table::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.completed__scroll-table::-webkit-scrollbar-thumb {
  background-color: #4B9AE8;
  border-radius: 10px;
}

.completed__scroll-table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.completed__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.completed__tr {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid #F2F3F4;
}

.completed__tr:hover {
  border-bottom: 3px solid #F2F3F4;
}

.completed__story {
  height: 100%;
}

.story__td-button {
  width: 100%;
  height: 67px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #F2F3F4;
}

.story__button {
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
}

.story__tr {
  border-width: 10px;
}

.story__table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.story__name {
  padding: 0 0 0 21px;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.story__count {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 150px;
}

.story__td-delete {
  width: 28px;
  height: 67px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F2F3F4;
}

.story__delete {
  width: 14px;
  height: 18px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.story__img {
  width: 20px;
  height: 26px;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 480px;
  background: #ffffff;
  align-items: center;
}

.menu__header {
  background: #4B9AE8;
  height: 60px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.menu__name {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
}

.menu__ul-name {
  margin: 16px 0 23px 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.menu__user-button {
  display: flex;
  flex-direction: row;
  height: 67px;
  background: transparent;
  width: 100%;
  border: 1px solid #F2F3F4;
  align-items: center;
  justify-content: space-between;
  outline: none;
}

.menu__scroll {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 134px;
  overflow-x: auto;
}

.menu__scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.menu__scroll::-webkit-scrollbar-thumb {
  background-color: #4B9AE8;
  border-radius: 10px;
}

.menu__scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.menu__ul {
  margin: 0;
  width: calc(100% - 10px);
  padding: 0;
  list-style-type: none;
}

.menu__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__user-icon {
  height: 42px;
  width: 42px;
  margin: 0 16px 0 24px;
}

.menu__user-name {
  font-size: 18px;
  line-height: 21px;
}

.menu__user-checked {
  height: 20px;
  width: 20px;
  margin-right: 23px;
}

.menu__button {
  background: transparent;
  margin: 45px 0 0 0;
  padding: 0;
  width: 252px;
  height: 39px;
  text-align: center;
  color: #4B9AE8;
  border: 1px solid #4B9AE8;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  font-weight: normal;
}

.menu__button:hover {
  color: #418CD6;
  border-color: #418CD6;
}

.menu__button:active {
  color: #3069A1;
  border-color: #3069A1;
}

.menu__span {
  padding: 0 0 0 22px;
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}

.menu__span-div {
  width: 100%;
  margin-top: 42px;
}

.menu__link {
  margin: 10px 0 0 0;
  height: 37px;
  width: 250px;
  text-align: center;
  border: 1px solid #D5D9DE;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  outline: none;
  font-weight: normal;
}

.footer {
  background: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  color: #808284;
  margin-top: 43px;
  flex-shrink: 0;
  font-weight: normal;
}

.footer__a {
  text-decoration: none;
  color: #4B9AE8;
}
